body {
    padding: 0;
    margin: 0;
    background-color: rgb(240,240,240);
    
    font-family: "PT Sans", sans-serif;
}

header {

    /*position: relative;
    width: 100%;*/
    background-size: cover;
    background-position: center;
    background-color: black;
    
    padding: 0px;
    margin: 0px;
    height: 600px;
    background: url(https://s3-alpha-sig.figma.com/img/90c6/f9cf/3635ae7fb673f5c4f8112c2254e5b589?Expires=1651449600&Signature=Ih0kfsABeeRfkSrOudWo3EmvVULddM2Hil09VCXBXOZmOwUPShf7pn5IecmBXHBuqrwiXa0FVhWs1iL6LKEPsiN~ZORo-HJUCYoVtuNx1aJiO1L4dlT21cu3SKUr8sa3f0fLQEgWXiv96Y-Ahd~uEOR~NniwXA6kFDRfq8CM5JSA9DW9ypaxnA0qEGsPhz9cUabEqET7MKqlajMFXRAQMZ9333ng1MhvpOy~77Dv6qYFxYAGAP1xL0gt413XycgFw-DYPA4FN92~88FthaLbHGul5iKNU9tmK2Rrcp1S7xpy9NpPwjSegz1Y50SWC~G1AGJQ-CrzEa214HR-~WXlvw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA), #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
    position: fixed;
    width: 100%;
    /*line-height: 60px;*/
    
    
}

nav ul {
    position: fixed;
    top: 40px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    width: 40%;
    padding: 0px 100px;
}

nav ul li {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    height: 21px;

    color: #FFFFFF;
    display: inline-block;
    /*padding: 16px 32px;*/
    text-align: justify;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.navbar {
    
    /*position: absolute;*/
    /*
    width: 1440px;
    height: 503px;
    left: 0px;
    top: 97px;*/
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    
    
    background: #1C2A29;
}

.name {
    padding: 0px;
    margin: 0px;
    
    text-align: center;
    padding-top: 250px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 193px;
    height: 350px;

    background: rgba(42, 42, 42, 0.5);
    color: #FFFFFF;

}

.about-me-section {
    padding: 48px;
}
.photo {
    margin: auto;
    margin-top: 79px;
    width: 398px;
    height: 398px;

    
    background: url(/img/Photo01.png), #C4C4C4;
    background-repeat: no-repeat;
    background-size: auto 398px;
    background-position-x: right;
}

.info {
    
    margin-top: 100px;
    display: inline-block;
/*
    border: 2px solid #ccc;*/
    
    color: #000000;
}

.info p {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 50px;
}

.title {
    margin: auto;
    
    width: 298px;
    height: 93px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 93px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.projects-section {
    padding: 48px;
}

.projects-section li {
    
}
/* Firstname Lastname */

position: absolute;
width: 622px;
height: 93px;
left: 409px;
top: 311px;

font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 93px;

color: #FFFFFF;



/* Navigation */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 0px;



/* Rectangle 2 */

position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 0px;

background: #1C2A29;


/* ABOUT ME */

position: absolute;
width: 94px;
height: 21px;
left: 100px;
top: 40px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #FFFFFF;



/* PROJECTS */

position: absolute;
width: 90px;
height: 21px;
left: 310px;
top: 40px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #FFFFFF;



/* CASE STUDIES  */

position: absolute;
width: 126px;
height: 21px;
left: 520px;
top: 40px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #FFFFFF;



/* CONTACT */

position: absolute;
width: 85px;
height: 21px;
left: 730px;
top: 40px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #FFFFFF;

