a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
body {
    background-image: url('../img/bg_paper.jpg');
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 12pt;
    margin: 15px;
    padding: 15px;
}
p {
    text-indent: 20px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color:rgb(95, 93, 60);
}
h1 {
    background-image: url('../img/bg_paper2.jpg');
    font-family: "Georgia", Helvetica, sans-serif;
    color: rgb(64, 62, 70);
    font-size: 30pt;
    border-bottom: 5px solid gray;
    padding: 20px 20px 30px 15px;
    text-shadow: 0px 2px 3px;
    box-shadow: 0px 5px 10px;
}
h2 {
    font-family: "Georgia", Helvetica, sans-serif;
    color:rgb(88, 84, 48);
    margin-bottom: 0.15em;
    margin-top: 0.75em;
}
.profile-image {
    float: right;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px;
    width: 55%;
}
.haiku {
    margin-left: 40px;
}
ul, ol {
    color:rgb(65, 63, 39);
}
table {
    table-layout: fixed;
    width: 900px;
    background-image: url('../img/bg_paper2.jpg');
    padding: 5px;
    border-collapse: separate;
    border: 5px solid black;
    border-spacing: 3px;
    box-shadow: 0px 5px 10px;
    margin-top: 15px;
}
th, td {
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    vertical-align: middle;
}
th:nth-child(odd) {
    background-color: rgb(85, 168, 168);
    border-color: rgb(52, 110, 110);
    color: rgb(39, 85, 85);
}
th:nth-child(even) {
    background-color: rgb(139, 197, 197);
    border-color: rgb(52, 110, 110);
    color: rgb(39, 85, 85);
}
.work {
    background-color: palegoldenrod;
    border-color: rgb(134, 131, 85);
}
.cs-3250 {
    background-color: lightcoral;
    border-color: rgb(168, 84, 84);
}
.travel {
    background-color: lightgreen;
    border-color: rgb(94, 163, 94);
}
.gym {
    background-color: lightyellow;
    border-color: rgb(189, 189, 151);
}
.art-1130 {
    background-color: lightskyblue;
    border-color: rgb(94, 147, 180);
}
.art-2220 {
    background-color: rgb(148, 199, 196);
    border-color: rgb(101, 139, 137);
}
.cs-2550 {
    background-color: lightsalmon;
    border-color: rgb(184, 111, 83);
}
.time {
    background-color: rgb(80, 199, 199);
    border-color: rgb(89, 182, 182);
    border-bottom: 3px solid rgb(102, 102, 102);
}
.centered {
    width: 60%;
    margin: 0 auto;
    border: 2px solid gray;
    background-color: rgba(253, 241, 235, 0.808);
    box-shadow: 0px 5px 10px;
    padding: 25px;
}